<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Tastebuds, a taste like none other!">
        
        <!--Bootstrap CDN-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <!--Bootswatch Theme CDN-->
        <link type="text/css" rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        
        <!--CSS Link-->
        <link rel="stylesheet" type="text/css" href="../CSS/style.css">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap" rel="stylesheet">

        <!--Fontawesome Icon CDN-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        
        <!--Favicon Icon-->
        <link rel="icon" type="image" href="https://img.icons8.com/cotton/2x/blowjob--v2.png">

        <title>TasteBuds LLC | A taste like none other</title>
    </head>
    <body id="" class="text-center">
        
        <!--Navbar Header Beginning-->
        <nav id="nav-bar" class="navbar navbar-expand-md navbar-dark bg-primary">
            <button class="navbar-toggler bg-light rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a id="logo" class="nav-brand nav-item nav-link text-success" href="/">Taste Buds<img src="~/home/deej/Downloads/taste-buds.png" alt=""></a>
            <ul id="links" class="navbar-nav">
                <li id="" class="nav-item active"><a id="" class="nav-link" href="/about">About</a></li>
                <li id="" class="nav-item active"><a id="" class="nav-link" href="/food-menu">Menu</a></li>
                <li id="" class="nav-item active"><a id="" class="nav-link" href="/find-location">Location</a></li>
                <li id="" class="nav-item active"><a id="" class="nav-link" href="/testimonials">Reviews</a></li>
                <li id="" class="nav-item active"><a id="" class="nav-link" href="/contact">Contact</a></li>
            </ul>
            
            <a class="px-4" href="/profile"><i class="fa fa-user text-light fs-3" aria-hidden="true"></i></a>
                
            <a class="" href="/cart">
                <i class="fa fa-shopping-cart text-light fs-3" aria-hidden="true"></i>
                <span class="position-absolute top-25 translate-middle badge rounded-circle bg-danger p-1">2</span>
            </a>
        </nav>
        <!--Navbar Heading Ending-->
    </body>
</html>