    <div class="post d-flex p-5 shadow rounded">
        <div class="post-img d-inline col-md-5">
            <img class="p-2 rounded h-100 w-100" src=" https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.XOrVZNjzJpK5h6dkEVmUtQHaE8%26pid%3DApi&f=1" alt="">
            <br>
            <div class="col">
                <span class="">
                    <i class="fa-solid fa-star"></i>
                </span>
                <span class="">
                    <i class="fa-solid fa-star"></i>
                </span>
                <span class="">
                    <i class="fa-solid fa-star"></i>
                </span>
                <span class="">
                    <i class="fa-solid fa-star"></i>
                </span>
                <span class="">
                    <i class="fa-solid fa-star"></i>
                </span>
            </div>
        </div>
        <div id="content" class="p-2 px-3 col-md-7">
            <h1 class="p-1">Title</h1>
            <span class="mb-2 p-1 h5">February 23, 2022</span>
            <p class="p-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat recusandae laudantium fugit numquam optio consectetur cum, dicta reiciendis at! Cum aut quos corporis aliquid? Non eveniet minus autem quos sit?</p>
        </div>
    </div>
