<%- include('partials/navbar.ejs')%>
<!-- Change Landing background  to video -->
    <!--Hero Beginning-->
    <div id="hero" class="hero-image w-100 text-center">
        <div id="hero-text" class="hero-text position-absolute top-50 start-50 translate-middle">
            <h1 id="hero-header" class="display-5 fw-bold text-success">Taste Buds LLC</h1>
            <p class="lead mb-4 text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt quas magni corrupti, cumque adipisci quo eos provident assumenda dolor aperiam doloremque quasi excepturi in minima, eius qui mollitia dicta quam.
                Soluta.</p>
            <a id="hero-btn" class="btn btn-success w-25 p-3 rounded" href="/food-menu">Place Order</a>
            <a id="hero-btn" class="btn btn-primary w-25 p-3 rounded" href="/location">Get Directions</a>
        </class=>

    </div>
    <!--Hero Ending-->
        
    <!--Footer Beginning-->
    <script defer type="text/javascript" src="./public/Javascript/location.js"></script>
    <script type="text/javascript" src="./public/Javascript/map.js"></script>
    <script defer src='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js'></script>
    <script defer src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    
<%- include('partials/footer.ejs')%>
    <!--Footer Ending-->
    


