<%- include('partials/navbar.ejs')%>
    <!--Location Beginning-->
    <div id="location" class="container-fluid p-5">
        <h1 id="" class="text-success">Location</h1>
        <p id="" class="text-center text-primary"> We are located on the corner of SW 151 St & Broadway Blvd</p>
        <div class="container">

            <div id='map'></div>
            <div id="geocoder" class="geocoder"></div>
    
        </div>        
    </div>
    <!--Location Ending-->
<%- include('partials/footer.ejs')%>