<%- include('partials/navbar.ejs')%>    
    <div class="container m-auto">
        <div class="row shadow rounded p-3">
            <img src="" alt="" class="">
            <h1 class="text-center">Thank You!</h1>
            <p class="">Your order was successfully placed. You will receive an email regarding your order confirmation shortly.</p>
            <a href="/" class="btn btn-primary rounded p-3">Home</a>
        </div>
    </div>
<%- include('partials/footer.ejs')%>
