<%- include('partials/navbar.ejs')%>
    <!--About Beginning-->
    <div id="about" class="container-fluid p-5">
        <h1 id="abput-heading" class="text-success m-4">About Us</h1>
        <div class="row">
                <div class="col-sm-6">
                        <p id="about-text" class="text-primary text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolores praesentium consectetur perferendis magni saepe quia ullam consequatur vel dignissimos illum fuga quibusdam perspiciatis exercitationem voluptatem nihil cum, porro ducimus.
                        Et, iusto? Magni nostrum necessitatibus, voluptatem, nemo nam obcaecati culpa vitae quibusdam possimus, fugit facilis saepe expedita nesciunt explicabo voluptate harum dignissimos tempora blanditiis. Voluptas alias nesciunt eum unde enim.
                        Sint reprehenderit obcaecati qui amet, consequatur natus itaque laboriosam debitis autem laudantium cumque animi ipsam inventore illo officia sit, quia quibusdam harum? Voluptates tempore laudantium repellat, quidem ex facere expedita.</p>
                </div>
                <div class="col-sm-6">
                    <img id="about-us" class="w-100 h-100 rounded" src="https://images.pexels.com/photos/887827/pexels-photo-887827.jpeg?auto=compress&cs=tinysrgb&dpr=2" alt="">
                </div>
        </div>        
    </div>
    <!--About Ending-->
<%- include('partials/footer.ejs') %> 