<%- include('partials/navbar.ejs')%>    
    <div class="container m-auto">
        <div class="row shadow rounded p-3">
            <img src="" alt="" class="">
            <h1 class="text-center">Submission successful. Thank You!</h1>
            <p class=" p-3"><%= msg %></p>
            <a href="/" class="btn btn-primary rounded p-3">Home</a>
        </div>
    </div>
<%- include('partials/footer.ejs')%>
