<%- include ('partials/noAccessNavbar.ejs') %>
    <div class="container p-3 m-auto">
        <div class="row mb-3">
            <h1 class="text-success mb-4">Hi! How can we help?</h1>
            <form action="/help" method="POST" class="input-group">
                <input name="query" type="search" class="form-control search rounded shadow p-3 mb-3" placeholder="Search answers" required>
            </form>
        </div>
        <div class="row margin-auto">
            <div class="row">
                <div class="col">
                    <div class="card p-4 shadow">
                        <img src="" alt="" class="">
                        <h3 class="">Title</h3>
                        <a href="" class="list-item link">Go somewhere</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-4 shadow">
                        <img src="" alt="" class="">
                        <h3 class="">Title</h3>
                        <a href="" class="list-item link">Go somewhere</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-4 shadow">
                        <img src="" alt="" class="">
                        <h3 class="">Title</h3>
                        <a href="" class="list-item link">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="row gy-3">
                <div class="col">
                    <div class="card p-4 shadow">
                        <img src="" alt="" class="">
                        <h3 class="">Title</h3>
                        <a href="" class="list-item link">Go somewhere</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-4 shadow">
                        <img src="" alt="" class="">
                        <h3 class="">Title</h3>
                        <a href="" class="list-item link">Go somewhere</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-4 shadow">
                        <img src="" alt="" class="">
                        <h3 class="">Title</h3>
                        <a href="" class="list-item link">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="row gy-3">
                <div class="col">
                    <div class="card p-4 shadow">
                        <img src="" alt="" class="">
                        <h3 class="">Title</h3>
                        <a href="" class="list-item link">Go somewhere</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-4 shadow">
                        <img src="" alt="" class="">
                        <h3 class="">Title</h3>
                        <a href="" class="list-item link">Go somewhere</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-4 shadow">
                        <img src="" alt="" class="">
                        <h3 class="">Title</h3>
                        <a href="" class="list-item link">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include ('partials/footer.ejs') %>