<div class="container">
    <div class="row m-auto text-center">
        <div class="col m-auto">
            <div class="card m-auto rounded shadow">
                <img src="https://images.pexels.com/photos/704569/pexels-photo-704569.jpeg?auto=compress&cs=tinysrgb&dpr=1" height="" width="100%" alt="item" class="card-img-top p-2 text-center rounded">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title text-left">Dish</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                        <li class="text-left">
                            <p class="fs-3">$0.00</p>
                        </li>
                    </ul>
                    <button type="button" class="w-100 btn btn-primary rounded">Add to Cart</button>
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card m-auto rounded shadow">
                <img src="https://images.pexels.com/photos/2097090/pexels-photo-2097090.jpeg?auto=compress&cs=tinysrgb&dpr=1" height="" width="" alt="item" class="card-img-top p-2 text-center rounded">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title text-left">Dish</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                        <li class="text-left">
                            <p class="fs-3">$0.00</p>
                        </li>
                    </ul>
                    <button type="button" class="w-100 btn btn-primary rounded">Add to Cart</button>
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card m-auto rounded shadow">
                <img src="https://images.pexels.com/photos/1109197/pexels-photo-1109197.jpeg?auto=compress&cs=tinysrgb&dpr=1" height="" width="" alt="item" class="card-img-top p-2 text-center rounded">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title text-left">Dish</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                        <li class="text-left">
                            <p class="fs-3">$0.00</p>
                        </li>
                    </ul>
                    <button type="button" class="w-100 btn btn-primary rounded">Add to Cart</button>
                </div>
            </div>
        </div>
    
    </div>
</div>